[Unit]
Description=Run the HC MQTT application
After=multi-user.target

[Service]
ExecStart=/home/pi/hc-mqtt/hc-mqtt

[Install]
WantedBy=multi-user.target
